@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover, a:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  outline: none;
}

.nav {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 50px;
  background-color: coral;
  transition: height 2s;
}

.nav .logo {
  font-size: 2rem;
}

.nav .nav-items {
  display: flex;
}

.nav .nav-link {
  font-size: 1.2rem;
  padding: 0px 50px;
}

.open {
  width: 30px;
  height: 30px;
  display: none;
}

@media screen and (max-width: 835px) {
  .nav {
    max-height: 80px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }
  .nav-items {
    width: 100%;
    margin: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
  }
  .nav-link {
    width: 100%;
    padding: 10px !important;
    margin: auto;
    border-top: 1px solid black;
  }
  .open {
    display: block !important;
    cursor: pointer;
  }
  .mobileMenu {
    max-height: 275px !important;
  }
}
